// ggArgs targetPath: ./service/{{toLower .ObjectName}}/cache.go

package {{toLower .ObjectName}}

import (
	"github.com/redis/go-redis/v9"
)

type cache struct {
	redisCli *redis.Client
}

func newCache(redisCli *redis.Client) *cache {
	return &cache{
		redisCli: redisCli,
	}
}