// ggArgs targetPath: ./service/{{toLower .ObjectName}}/model.go
package {{toLower .ObjectName}}

import (
    {{.CrudPackage}}
    {{.DBPackage}}
	"{{.Module}}/proto"
)

type {{toLowerCamel .ObjectName}}Model struct {
	*crud.Model[proto.{{toCamel .ObjectName}}, {{.ObjectIdType}}]
}

func new{{toCamel .ObjectName}}Model(db *db2.Selector) *{{toLowerCamel .ObjectName}}Model {
	return &{{toLowerCamel .ObjectName}}Model{
		Model: &crud.Model[proto.{{toCamel .ObjectName}}, string]{
    		DB:         db,
    		TableName:  "g_{{toSnake .ObjectName}}",
    		PrimaryKey: "{{toSnake .ObjectIdName}}",
    	},
	}
}

func (p *{{toLowerCamel .ObjectName}}Model) Get{{toCamel .ObjectName}}ListByUid(ctx context.Context, uid string, cursor{{toCamel .ObjectIdName}} {{.ObjectIdType}}, size int, isMaster bool) ({{toLowerCamel .ObjectName}}List proto.{{toCamel .ObjectName}}List, err error) {
	return p.GetListByFieldAndCursor(ctx, "uid", uid, cursor{{toCamel .ObjectIdName}}, size, "DESC", isMaster)
}
