// ggArgs targetPath: ./service/{{toLower .ObjectName}}/model.go
package {{toLower .ObjectName}}

import (
    {{.CrudPackage}}
    {{.DBPackage}}
	"{{.Module}}/proto"
)

type {{toLowerCamel .ObjectName}}Model struct {
	*crud.Model[proto.{{toCamel .ObjectName}}, {{.ObjectIdType}}]
}

func new{{toCamel .ObjectName}}Model(db *db2.Selector) *{{toLowerCamel .ObjectName}}Model {
	return &{{toLowerCamel .ObjectName}}Model{
		Model: &crud.Model[proto.{{toCamel .ObjectName}}, string]{
    		DB:         db,
    		TableName:  "g_{{toSnake .ObjectName}}",
    		PrimaryKey: "{{toSnake .ObjectIdName}}",
    	},
	}
}